/* Global */
:root {
  /* Color */
  --color-primary: #aac4ff;
  --color-dark-primary: #b1b2ff;
  --color-light-primary: #d2daff;
  --color-white: #ffffff;
  --color-dark-white: #d3d3d3;
  --color-light-white: #e3e3e3;
  --color-black: #000000;
  --color-light-black: #484848;
  --color-grey: #a9a9a9;
  --color-dark-grey: #909090;
  --color-light-grey: #cfcfcf;

  /* Font Size */
  --fs-large: 48px;
  --fs-medium: 28px;
  --fs-regular: 18px;
  --fs-small: 16px;
  --fs-extra-small: 14px;

  /* Line Height */
  --lh-large: 1.0434782609;
  --lh-medium: 1.0769230769;
  --lh-regular: 1.125;
  --lh-small: 1.1428571429;
  --lh-extra-small: 1.1666666667;

  /* Font Weight */
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;

  /* Size */
  --br-round: 50%;
  --br-round-square: 10px;

  /* Animation Duration */
  --ad-short: 300ms;
  --ad-normal: 500ms;
  --ad-long: 700ms;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  line-height: var(--lh-large);
}

h2 {
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  line-height: var(--lh-medium);
}

h3 {
  font-size: var(--fs-regular);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh-regular);
}

h4,
h5 {
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
  line-height: var(--lh-small);
}

p {
  font-size: var(--fs-extra-small);
  font-weight: var(--fw-regular);
  line-height: var(--lh-extra-small);
}

button,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--fs-regular);
  line-height: var(--lh-regular);
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol,
li {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

/* Navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 45px;
  font-size: var(--fs-regular);
  font-weight: var(--fw-semi-bold);
  background-color: #ced8eb;
}

.header__logo {
  display: block;
  height: 100%;
}

.header__logo img {
  padding: 2px 5px;
  width: 70px;
  height: 100%;
}

.header__navbar {
  height: 100%;
}

.header__ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__li {
  display: flex;
  align-items: center;
}

.header__li__a {
  position: relative;
  padding: 10px 14px;
}

.header__li__a:hover {
  color: var(--color-light-black);
}

.header__li__a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--color-light-black);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 500ms ease;
}

.header__li__a:hover::after {
  width: 100%;
}

.fa-solid.fa-circle-half-stroke {
  padding: 14px;
  cursor: pointer;
}

/* Home Section */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background: url(/images/background.png) center center no-repeat;
  background-size: cover;
}

.home__avatar {
  width: 300px;
  height: 300px;
  border-radius: var(--br-round);
}

.home__title {
  margin-top: 50px;
}

.home__button {
  padding: 12px 15px;
  margin-top: 50px;
  border: 1.5px solid var(--color-black);
  border-radius: var(--br-round-square);
  background-color: inherit;
  transition: all 250ms ease-in;
}

.home__button:hover {
  color: var(--color-light-white);
  border: 1px solid var(--color-light-black);
  background-color: var(--color-light-black);
}

/* Global Section */
.section {
  padding: 50px;
  margin: auto;
  max-width: 1260px;
  text-align: center;
}

.description {
  margin-top: 25px;
}

.paragraph {
  margin-top: 20px;
  font-size: var(--fs-regular);
}

/* About Section */
.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.major__icon {
  margin: auto;
  width: 170px;
  height: 170px;
  border: 1px solid var(--color-dark-primary);
  border-radius: var(--br-round);
  font-size: 70px;
  line-height: 2.4285714286;
  color: var(--color-primary);
}

.major__icon i {
  transition: all var(--ad-normal) ease-in-out;
}

.major__icon i:hover {
  color: #8083cc;
  transform: rotate(360deg) scale(1.2);
}

.major__title {
  margin-top: 15px;
  color: var(--color-dark-grey);
}

.major__description {
  margin-top: 10px;
  font-size: var(--fs-small);
  color: var(--color-dark-grey);
}
