/* Global */
:root {
  /* Color */
  --color-primary: #aac4ff;
  --color-dark-primary: #b1b2ff;
  --color-light-primary: #d2daff;
  --color-white: #ffffff;
  --color-dark-white: #d3d3d3;
  --color-light-white: #e3e3e3;
  --color-black: #000000;
  --color-light-black: #484848;
  --color-gray: #a9a9a9;
  --color-dark-gray: #909090;
  --color-light-gray: #cfcfcf;
  --color-princeton-orange: #ff8f00;

  /* Font Size */
  --fs-large: 48px;
  --fs-medium: 28px;
  --fs-regular: 18px;
  --fs-small: 16px;
  --fs-extra-small: 14px;

  /* Line Height */
  --lh-large: 1.0434782609;
  --lh-medium: 1.0769230769;
  --lh-regular: 1.125;
  --lh-small: 1.1428571429;
  --lh-extra-small: 1.1666666667;

  /* Font Weight */
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-regular: 400;

  /* Size */
  --br-round: 50%;
  --br-round-square: 10px;

  /* Animation Duration */
  --ad-short: 300ms;
  --ad-normal: 500ms;
  --ad-long: 700ms;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  line-height: var(--lh-large);
}

h2 {
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  line-height: var(--lh-medium);
}

h3 {
  font-size: var(--fs-regular);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh-regular);
}

h4,
h5 {
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
  line-height: var(--lh-small);
}

p {
  font-size: var(--fs-extra-small);
  font-weight: var(--fw-regular);
  line-height: var(--lh-extra-small);
}

button,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--fs-regular);
  line-height: var(--lh-regular);
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol,
li {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: auto;
  font-size: var(--fs-regular);
  font-weight: var(--fw-semi-bold);
  background-color: #ced8eb;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  padding: 5px;
  width: 70px;
  height: 100%;
}

.header__navbar {
  height: 100%;
}

.header__ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__li {
  display: flex;
  align-items: center;
}

.header__li__a {
  position: relative;
  padding: 10px 14px;
}

.header__li__a:hover {
  color: var(--color-light-black);
}

.header__li__a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--color-light-black);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 500ms ease;
}

.header__li__a:hover::after {
  width: 100%;
}

.fa-solid.fa-circle-half-stroke {
  padding: 14px;
  cursor: pointer;
}

.header__menubar-btn {
  display: none;
  position: absolute;
  top: 8px;
  right: 32px;
  font-size: var(--fs-medium);
}

/* Home Section */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background: url(/images/background.png) center center no-repeat;
  background-size: cover;
}

.home__avatar {
  width: 300px;
  height: 300px;
  border-radius: var(--br-round);
}

.home__title {
  margin-top: 50px;
}

.home__button {
  padding: 12px 15px;
  margin-top: 50px;
  border: 1.5px solid var(--color-black);
  border-radius: var(--br-round-square);
  background-color: inherit;
  transition: all 250ms ease-in;
}

.home__button:hover {
  color: var(--color-light-white);
  border: 1px solid var(--color-light-black);
  background-color: var(--color-light-black);
}

/* Global Section */
.section {
  padding: 50px;
  margin: auto;
  text-align: center;
}

.container {
  margin: auto;
  max-width: 1260px;
}

.description {
  margin-top: 25px;
}

.paragraph {
  margin-top: 20px;
  font-size: var(--fs-regular);
}

/* About Section */
.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.major__icon {
  margin: auto;
  width: 170px;
  height: 170px;
  border: 1px solid var(--color-dark-primary);
  border-radius: var(--br-round);
  font-size: 70px;
  line-height: 2.4285714286;
  color: var(--color-primary);
}

.major__icon i {
  transition: all var(--ad-normal) ease-in-out;
}

.major__icon i:hover {
  color: #8083cc;
  transform: rotate(360deg) scale(1.2);
}

.major__title {
  margin-top: 15px;
  color: var(--color-dark-gray);
}

.major__description {
  margin-top: 10px;
  font-size: var(--fs-small);
  color: var(--color-dark-gray);
}

.about__education {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.educations {
  margin: auto;
}

.education {
  display: flex;
  align-items: center;
}

.education__icon {
  margin-right: 20px;
  width: 130px;
  height: 95px;
}

.education__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.education__title {
  font-size: 21px;
}

.education__description {
  margin-top: 8px;
  font-size: var(--fs-small);
}

/* Skills Section */
.skills__section {
  background-color: #cac2d1;
}

.skillset {
  display: flex;
  margin: 30px 0;
  color: var(--color-light-white);
  background-color: #9992a0;
}

.skillset__left {
  flex-basis: 60%;
  padding: 20px 40px;
  background-color: var(--color-dark-gray);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  padding: 20px;
  height: 45%;
}

.etc {
  padding: 20px;
  height: 55%;
  background-color: var(--color-gray);
}

.skillset__title {
  color: var(--color-white);
}

.skill__ul,
.tools__ul,
.etc__ul {
  margin-top: 15px;
}

.skill__li {
  margin-top: 15px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__total {
  margin-top: 10px;
  width: 100%;
  height: 5px;
  background-color: var(--color-gray);
}

.skill__value {
  height: 5px;
  background-color: var(--color-princeton-orange);
}

.html {
  width: 99%;
}

.css {
  width: 95%;
}

.js {
  width: 85%;
}

.vue {
  width: 40%;
}

.node {
  width: 55%;
}

/* Work Section */
.work__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__categories {
  display: flex;
  margin: 40px 0;
  max-width: 500px;
  width: 100%;
}

.category__btn {
  padding: 10px 14px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--br-round-square);
  font-size: var(--fs-regular);
  text-align: center;
  transition: all var(--ad-normal) ease-in-out;
}

.category__btn:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.category__btn:hover .category__count {
  background-color: var(--color-dark-primary);
}

.all {
  flex: 30%;
  margin-right: 10px;
}

.front-end {
  flex: 35%;
  margin-right: 10px;
}

.back-end {
  flex: 35%;
}

.category__count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 24px;
  height: 24px;
  font-size: var(--fs-small);
  color: var(--color-white);
  border-radius: var(--br-round);
  background-color: var(--color-light-primary);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  margin: 2px;
  width: 300px;
  height: 180px;
  border-radius: var(--br-round-square);
  background-color: var(--color-light-white);
}

.project:hover .project__description {
  transform: translateY(0px);
  opacity: 0.7;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--br-round-square);
  background-color: #000000;
  color: #ffffff;
  transform: translateY(10px);
  opacity: 0;
  transition: all var(--ad-short) ease-in-out;
}

.project__description h3::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  margin-top: 8px;
  margin-left: -20px;
  width: 40px;
  height: 2px;
  background-color: var(--color-dark-white);
}

/* Testimonials Section */
.testimonial__section {
  background-color: var(--color-dark-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: var(--br-round);
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 35px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 35px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--br-round-square);
}

.testimonial__speech-bubble p {
  font-size: var(--fs-regular);
}

.testimonial__name {
  margin-top: 10px;
  font-size: var(--fs-small);
  color: var(--color-dark-gray);
}

.testimonial__speech-bubble a {
  color: var(--color-primary);
}

/* Contact Section */
.contact__section {
  background-color: var(--color-primary);
  color: white;
}

.contact__title {
  margin: 40px 0;
}

.contact__email {
  font-size: 25px;
}

.contact__social {
  margin-top: 15px;
  font-size: 30px;
}

.contact__social a:first-child {
  margin-right: 10px;
}

.contact__social i {
  transition: all var(--ad-short) ease;
}

.contact__social i:hover {
  transform: scale(1.2);
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-primary);
}

footer h4,
footer h5 {
  font-size: var(--fs-regular);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* Header */
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__navbar {
    display: none;
    width: 100%;
  }

  .header__ul {
    flex-direction: column;
  }

  .header__menubar-btn {
    display: block;
  }
}
